<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FCI</title>
          <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"> --}}
        {{!-- <link href="/styles.css" rel="stylesheet" /> --}}
        <style>
   #login{
        width: 600px;
       
    }
    #email:focus{
        border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
    }
    #icon_prefix:focus{
        border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
    }
     #password:focus{
        border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
    }
     #chat{
      height: 640px;
      overflow: scroll;
    }
    #send:hover{
      cursor:pointer;
    }
   #textarea1:focus {
     border-bottom: 1px solid orange;
     box-shadow: 0 1px 0 0 orange;
   }
    }
  </style>
    </head>
<body>
    {{>_nav}}
    {{{ body }}}
       <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>